
.car-model-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.vehicle-title {
  position: absolute;
  top: 40px;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-text);
  }
}
